@{
    ViewData["Title"] = "Home Page";
}

<h2><a asp-action="Index" asp-controller="Alunos">Alunos</a></h2>
<h2><a asp-action="Index" asp-controller="ExerciciosProgramados">Exercicios Programados</a></h2>
<h2><a asp-action="Index" asp-controller="Exercicios">Exercicios</a></h2>
<h2><a asp-action="Index" asp-controller="Provas">Provas</a></h2>

