@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <ul>
        <li>
            <a asp-action="Index" asp-controller="Alunos">Alunos</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="ExerciciosProgramados">Exercicios Programados</a>
        </li> 
        <li>
            <a asp-action="Index" asp-controller="Exercicios">Exercicios</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Provas">Provas</a>
        </li>
    </ul>

</div>
